* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: blue;
}

.tagline {
    text-align: center;
    font-style: italic;
    color: blue;
}


.vehicle-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 20px;
    margin: 30px 20px; /* Add some margin to the left and right */
}

.vehicle-list li {
    display: flex;
    flex-direction: column;
    padding: 20px ;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow:5px 5px 10px black;
}

.vehicle-list h3 {
    text-align: center;
}

.vehicle-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.vehicle-description {
    text-align: center;
    font-size: 18px;
}

.vehicle-list a {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}


.card-button {
    display: block;
    margin: auto auto 0;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 30px black;
    cursor: pointer;
}

